.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-bottom: 1px solid var(--border);
  background-color: var(--background);
  color: var(--text-primary);
}

.header h1 {
  font-size: 20px;
}

.title {
  cursor: pointer;
}

.theme {
  flex: 1;
  display: flex;
  justify-content: end;
}

.toogle_theme {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 3s ease-in-out;
  transform: rotate(180deg);
}

.theme_dark {
  color: white;
}

.none {
  width: 0;
  height: 0;
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 12px 60px;
    font-size: 32px;
  }
}
